@forward "globals";

// MUI styles
.MuiInputBase-input::placeholder {
    font-size: "10px";
    font-style: italic;
    color: gray;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Custom Navigation Arrows */
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    // background-color: rgba(0, 0, 0, 0.5);
    color: rgb(42, 14, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px;
    font-weight: bold;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

/* Hover Effects */
.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: rgba(21, 150, 255, 0.8);
}

.swiper-button-prev::after {
    content: "←"; /* Left arrow */
}

.swiper-button-next::after {
    content: "→"; /* Right arrow */
}

.swiper-button-prev {
    left: -50px;
}

.swiper-button-next {
    right: -50px;
}

.swiper-wrapper {
    margin: 10px 0;
}
